{% extends 'app/layout.html' %}

{% block body %}
    <!--Title of the page below navbar and at the middle of the frame-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <!--Title of the Page -->
                <h1 class="text-center" style="font-weight: 700;">Chat-Mania: Join the Conversation</h1>

                <!--LOG OUT button-->
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                 <input type="submit" id="logout-btn" class="btn btn-danger float-right" style="border: none;" value="Logout">
                </form>
             </div>   
         </div>     
    </div>

    <div class="btn-Cont d-flex flex-column justify-content-around">  
        <button id="lbtn" class="btn  btn-success">Create Room</button>
        <button id="lbtn" class="btn  btn-dark">Joined Rooms</button>
        <button id="lbtn" class="btn  btn-dark">Your Rooms</button>
        <button id="lbtn" class="btn  btn-dark">Requests</button>
    </div>  
          
{% endblock %}