body{
    background:  linear-gradient(to bottom, rgb(58,54,152)
    , rgb(110,106,175)  );
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    /*make height cover entire screen*/
    height: 100vh;
    /*make width cover entire screen*/
    margin: 0;
    padding: 0;
}

#logout-btn{
    background-color: #97030A;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.77;
}

#logout-btn:hover{
    background-color: #C9040D;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}